<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Liste des Étudiants</title>
    <!-- Ajoutez les liens vers Bootstrap CSS et autres styles ici -->
    <link rel="stylesheet"
          href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script type="text/javascript" src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.js"></script>
</head>
<body>

<div layout:fragment="content" class="container mt-5">
    <h1>Liste des utilisateurs</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Âge</th>
            <th>Email</th>
            <th>Type</th>
            <th>Actions</th> <!-- Nouvelle colonne pour les actions -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.nom}"></td>
            <td th:text="${user.prenom}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.getClass().getSimpleName()}"></td>
            <td>
                <!-- Icône pour modifier -->
                <a th:href="@{modifierUser(${user.id})}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
                <!-- Icône pour supprimer -->
                <a th:href="@{supprimeruser(id=${user.getId()})}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <div class="d-flex justify-content-end">
                    <a th:href="@{users/ajouterEtudiant}" class="btn btn-primary mx-2">Ajouter Étudiant</a>
                    <a th:href="@{users/ajouterProfesseur}" class="btn btn-primary mx-2">Ajouter Professeur</a>
                    <a th:href="@{users/ajouterAdministrateur}" class="btn btn-primary mx-2">Ajouter Administrateur</a>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>
